{% for pwd in passwords %}
    <div class="card mb-3">
        <div class="card-body">
            <strong>{{ pwd.password }}</strong>
            <br>
            {% if pwd.qr_code %}
                <img src="{{ pwd.qr_code.url }}" alt="QR Code" width="150" class="mt-2">
                <br>
                <small>Expires at: {{ pwd.qr_expiry }}</small>
            {% else %}
                <a href="{% url 'generate_qr' pwd.id %}" class="btn btn-sm btn-primary mt-2">Generate QR</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
